@size: 30px;
@colorTop: #3f8e27;
@colorRight: #8e5927;
@colorLeft: #50130f;
@colorBottom: #16400a;

.map {
  position: absolute;
  bottom: 0;
  transform-style: preserve-3d;
  transition: 200ms;

  top: 50%;
  transform: translate(-50%, -50%) rotateX(75deg) rotateZ(45deg);
}

.cube,
.cube:after,
.cube:before {
  content: '';
  height: @size;
  position: absolute;
  width: @size;
}
.cube {
  background-color: @colorTop;
  transform-style: preserve-3d;
}
.cube:after {
  background-color: @colorLeft;
  transform: rotateX(-90deg) translateY(@size);
  transform-origin: 100% 100%;
}
.cube:before {
  background-color: @colorRight;
  transform: rotateY(90deg) translateX(@size);
  transform-origin: 100% 0;
}

.cubeBack,
.cubeBack:after,
.cubeBack:before {
  content: '';
  height: @size;
  position: absolute;
  width: @size;
}
.cubeBack {
  background-color: @colorBottom;
  transform-style: preserve-3d;
  transform: rotateX(-180deg) rotateZ(90deg) translateZ(@size);
}
.cubeBack:after {
  background-color: darken(@colorRight, 10%);
  transform: rotateX(-90deg) translateY(@size);
  transform-origin: 100% 100%;
}
.cubeBack:before {
  background-color: darken(@colorLeft, 10%);
  transform: rotateY(90deg) translateX(@size);
  transform-origin: 100% 0;
}
:export {
  size: @size;
}
